.services {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    &:before {
        content: "";
        position: relative;
        display: block;
        width: 86px;
        height: 1px;
        background: #fff;
        margin: 24px auto;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 24px;
    }
    ul li {
        padding: 16px 16px;
        display: inline-flex;
        width: 340px;
        text-align: center;
        h3 {
            margin-bottom: 16px;
        }
    }
}